body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: 500;
}

.navbar{
    width: 300px;
    color: #e3b062;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color: #E3B063;
    text-decoration: none;
}

.navbar a:hover{
    color: #32B9CD;
}

.header{
    border-bottom: 3px solid #32b9cd;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container{
    justify-content: space-between;
}

.banner{
    background-image: url("./assets/bg-jelly-fish-para_outras_pags.png");
    height: 500px;
    color: white;
}

.banner .container{
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p{
    font-size: 32px;
    width: 200px;
}

/*SOCIAL*/

.social{
    background-color: #F7F7F7;
    height: 500px;
}

.social .container{
    align-items: center; 
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.social .container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.social .container .box img{
    width: 100px;
}

.social .container .box p{
    width: 400px;
}

/* Footer */

.footer{
    background-color: #32B9CD;
    color: white;
}

.footer .container{
    justify-content: center;
    text-align: center;
}
