body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: 500;
}

.navbar{
    width: 300px;
    color: #e3b062;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    border-bottom: 3px solid #32b9cd;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container{
    justify-content: space-between;
}
